
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');

html, body{
  margin:0;
  padding:0;
  background-color: #0a0a0a;
  font-family: "Sansation", sans-serif;
}
body{
  background: url(./assets/bg-grn-smk.webp)#0a0a0a top center;
  background-size: cover;
}
p{
  margin:0;
}
nav{
  background:
  linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%),
  linear-gradient(180deg, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, .8) 100%);

}

  .sansation-regular {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sansation-bold {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .sansation-light-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .sansation-regular-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .sansation-bold-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.logo{
    width:8rem;
    height:auto;
    opacity:0;
    transition: transform .2s;
}
.logo:hover{
  transform: scale(1.1);
}
.navbar-nav a{
    text-decoration: none;
    color:#fff;
}

.navbar-nav a:hover, .navbar-nav a:focus, .contact-link:hover{
    color:#02fd5d;
    text-decoration: underline;
}
.navbar .nav-link{
  opacity:0;
}
.navbar-nav a.nav-link.active{
  color: #02fd5d;
  font-weight: 400;
  text-decoration: underline;
}

a.navbar-brand.active{
  border-bottom: none;
}
.navbar-toggler{
  border-color:#475b4e;
}
.navbar-toggler:focus {
  box-shadow: 0 0 .5rem #02fd5d;
}

h1, .h1{
    color:#00a83d;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    color:#899a8e;
    font-family: "Sansation", sans-serif;
    font-weight: 300;
}
h3{
    color:#00a83d;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
}
p, h4, #about li, #alignment li{
    color:#aeb3b5;
    line-height:1.5
}
.description{
  color:#fff;
}
.contact-link{
  color:#fff;
}
.linkedin-icon{
  background-color:#fff;
  width:2rem;
  height:auto;
  border:1px solid #00a83d;
  border-radius:.25rem;
}
.linkedin-icon:hover{
  box-shadow: 0 0 .5rem #02fd5d;
}
.top-pad{
  padding-top:8rem
}
.project-card{
  width:18rem;
  cursor: pointer;
  transition: transform .2s;
}

.project-card:hover{
  box-shadow: 2px 2px 10px #02fd5d;
  border:1px solid #02fd5d;
  transform: scale(1.01);
}

.project-card a{
  text-decoration: none;
  color:inherit;
}
.project-card button{
  border-radius:3rem;
}
#contact .title{
  width:6rem;
  color: #aeb3b5;
}
#about svg{
  cursor: pointer;
}
#about .svg-icon {
    width: 10%;
    height: auto;
}
#about .svg-icon:hover path, #about .svg-icon:hover circle{
fill:#aeb3b5;
}

#about .react-logo.svg-icon:hover g{
stroke:#aeb3b5;
}
.popover-body{
      padding: .25rem;
    color: #0a0a0a;
    background-color: #02fd5d;
}
.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, .bs-popover-bottom>.popover-arrow::after {
    top: var(--bs-popover-border-width);
    border-bottom-color: #02fd5d;
}
.card-text{
  color:#29353A;
}

.card button{
  background-color:#015821;
  border:1px solid #0a0a0a;
  color:#fff;
  width:100%;

}
.card button:hover{
  background-color:#02fd5d;
  color:#0a0a0a;
  border:1px solid #015821;
}

.code-link{
  color:#02fd5d;
}
.modal-header, .modal-footer{
  background-color:#015821;
  color:#fff;
}

.modal-header .btn-close{
  background-color: #02fd5d
}
.link-unpublished {
  color: gray;
  text-decoration: none;
}
  #heroImage{
    max-width:70%;
  }
  #contact{
    min-height:60rem
  }
#submitButton{
  background-color:#0a0a0a;
  color:#fff;
  border:1px solid #015821;
  border-radius:3rem;
  padding:.5rem
}
#submitButton:hover{
  background-color:#02fd5d;
  color:#0a0a0a;
  border-color:#015821;
}
#messageForm{
  background-color: #0a0a0a;
      border-radius:.5rem;
      padding:1rem
}
#messageForm textarea{
  height:6rem;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #02fd5d;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(2, 253, 93, .25);
}
.uw-img{
  border-radius: .5rem;
  box-shadow: #0a0a0a 0px 0px 10px;
}
@media(max-width:767px){
  #heroImage{
    width:300px;
    height:auto;
    margin:0 auto;
  }

}
@media(max-width:450px){
  .contact-link.linkedin{
    display: inline-block;
    white-space: nowrap;
    width:12rem; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media(min-width:768px){
  .top-pad {
    padding-top: 10rem;
}
#messageForm{
  width:50%
}
}



